{% extends 'base.html' %}

{% block layout %}

{% if request.user.is_authenticated %}

<!-- Custom html tag for main content area -->
<div x-data="{ mobileSidebarOpen: false }" class="grid grid-cols-3 max-w-[80%] mx-auto my-6 px-6">
    <!-- Styles the -->
    <mobileSidebarNav class="lg:hidden col-span-full mx-auto mb-6 z-10 relative">
        <a @click="mobileSidebarOpen = !mobileSidebarOpen" class="flex items-center cursor-pointer select-none font-bold hover:bg-gray-200 rounded-lg p-3">
            <span>Interests</span>
            <img x-bind:class="mobileSidebarOpen && 'rotate-180 duration-300'" class="w-4 ml-1.5" src="https://img.icons8.com/small/32/000000/expand-arrow.png" />
        </a>
    </mobileSidebarNav>
    
    <!-- Defines the main content area block -->
    <main class="col-span-full md:col-span-2 md:mr-[5%] lg:mx-[10%] order-2 md:order-1 border border-gray-300 mx-auto my-2 flex justify-center items-center">
        {% block content %}
        {% endblock %}
    </main>
    
    <!-- Renders the sidebar -->
    {% include 'includes/sidebar.html' %}

</div>

{% endif %}


{% endblock %}