{% if customers %}
    {% for customer in customers %}
        {% include 'customers/address.html' with show_customer_name=True %}
    {% endfor %}
{% else %}
    <p class="text-gray-500 text-center">No customers with corresponding address found.</p>
{% endif %}

<!-- Infinite scroll logic: Load more results if there are additional pages -->
{% if customers.has_next %}

    <div 
        hx-get="{% url 'search-addresses' %}?page={{ customers.next_page_number }}&search_address={{ search_address }}"
        hx-trigger="revealed"
        hx-target="this"
        hx-swap="outerHTML"
    >
        <p class="text-center text-gray-400">Loading more customers...</p>
    </div>
{% endif %}
