{% if customers %}
    {% for customer in customers %}
        <!-- Include each individual customer email component -->
        {% include 'customers/email.html' with show_customer_name=True %}
    {% endfor %}
{% else %}
    <!-- Message displayed when no matching customers are found -->
    <p class="text-gray-500 text-center">No customers with corresponding emails found.</p>
{% endif %}

{% if customers.has_next %}
    <div 
        hx-get="{% url 'search-emails' %}?page={{ customers.next_page_number }}&search_email={{ search_email }}"
        hx-trigger="revealed"
        hx-target="this"
        hx-swap="outerHTML"
    >
        <p class="text-center text-gray-400">Loading more customers...</p>
    </div>
{% endif %}
